.wrap {
  width: 230px;
  height: 335px;
  margin: 150px auto 0;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  color: #19B400;
  text-align: center;
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form input {
  width: 230px;
  height: 30px;
  margin-bottom: 20px;
  text-indent: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form .login-btn {
  background-color: #19B400;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}