ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
}

.bookBox {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.bookCoverImg {
  width: 130px;
  height: 180px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.bookInfoBox {
  text-align: center;
}
.bookTitle {
  font-size: 15px;
  margin-bottom: 5px;
}
.bookAuthor {
  font-size: 13px;
}
